body{
  background: #515050;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2%;
}

.txtCode {
  margin-top: 2%;
  min-width: 80%;
  max-width: 85%;
  height: 100%;
  padding: 0.1%;
}

.divConsole {
  min-width: 75%;
  max-width: 80%;
  background-color:rgb(40, 42, 54);
  color: white;
  white-space: pre-wrap;
  margin-bottom: 2%;
  padding:0.5%;
}

.noteTitle {
  color: #f2c007;
  font-size: 32px;
  margin-bottom: 0.5%;
}
.butNew {
  margin-top: 1%;
  background-color: #2b2b2b;
  color: #f2c007;
  border-radius: 10%;
  width: 100px;
  height:50px;
}

.butrun {
  width: 100px;
  background-color: #2b2b2b;
  color: #f2c007;
  border-radius: 10%;
  width: 100px;
  height:25px;
}
body {
  margin: 1%;
}

.loading {
  top: 50%;
  position: absolute;
  left: 50%;
  margin: auto;
  transform: translate(50%, 50%);
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 111, 0.3);
  border-radius: 50%;
  border-top-color: #f2c007;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CodeMirror {
  height: 100% !important;
  width: 80%;
  padding: 0.5%;
}
.noteIndex{
  text-align: left;
  color: #f2c007;
}